<h1>Stupid Coach </h1>


  <div class="me-speaking">
    <p><%= @questions_asked.capitalize %></p>
    <p class="speaking">-Me</p>
  </div>

  <div class="coach-speaking">

    <p><%= @coach_answer %></p>
    <p class="speaking">-Your coach</p>
  </div>

<%= link_to "Ask something else", ask_path  %>
